* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.body {
   background-color: #c9a0e5;
}

main .wrapper {
   background-color: #fae3d5;
   flex-wrap: wrap;
   width: 80vw;
}

.container {
}

.face {
   fill: #ff9bc1;
   stroke: #fb5441;
   stroke-width: 15;
}

.eye {
   fill: #fb5441;
}

.mouth {
   fill: none;
   stroke: #fb5441;
   stroke-width: 10px;
   stroke-linecap: round;
}
