@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Luckiest+Guy&display=swap");

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   max-width: 1400px;
   background-color: #c9a0e5;
   font-family: "Lato", sans-serif;
   font-size: 16px;
   font-weight: 400;
   font-style: normal;
   font-weight: normal;
   color: #181818;
}

main .wrapper {
   margin: auto;
   background-color: #fae3d5;
   flex-wrap: wrap;
   width: 50vw;
   display: flex;
   margin-top: 70px;
   padding-top: 50px;
   border-top-right-radius: 80px;
   border-top-left-radius: 80px;
}

.container {
   width: 100%;
   display: flex;
   justify-content: center;
}

.card-1 {
   display: flex;
   justify-content: space-evenly;
}

.card-2 {
   display: flex;
   justify-content: center;
}

/* Styling SVG Starts */

.circle-blue {
   fill: rgb(109, 196, 224);
   fill-opacity: 0.8;
}

.circle-green {
   fill: rgb(54, 162, 58);
   fill-opacity: 0.8;
}

.rec-pink {
   fill: #ff9bc1;
   fill-opacity: 0.8;
}

.text {
   fill: rgb(0, 0, 0);
   font-family: "Luckiest Guy", cursive;
   font-weight: 400;
   font-style: normal;
   font-size: 70px;
}

.face {
   fill: #ff9bc1;
   stroke: rgb(251, 84, 65);
   stroke-width: 15;
}

.eye {
   fill: #fb5441;
}

.mouth {
   fill: none;
   stroke: #fb5441;
   stroke-width: 10px;
   stroke-linecap: round;
}

/* Styling Form Starts */

.form {
   max-width: 400px;
   position: relative;
}

.card__content--title {
   text-align: center;
}

.label {
   display: block;
   position: relative;
   padding: 5px 7px;
}

.input-field {
   width: 100%;
   border: none;
   border-bottom: 1px solid rgba(159, 159, 159, 0.4);
   background-color: #fae3d5;
   outline: none;
   padding-left: 16px;
   min-height: 40px;
   border-radius: 0px;
   margin-bottom: 16px;
}

.input-field:focus {
   background-color: #fbf3dc;
}

.button {
   width: 60%;
   border: 1px solid #181818;
   padding: 11px 12px;
   font-size: 15px;
   color: #fff;
   background-color: #36a23a;
   cursor: pointer;
   display: inline-block;
   margin-top: 8px;
   border-radius: 12px;
   outline: 0;
   align-items: center;
   display: inline-flex;
   flex-shrink: 0;
   gap: 8px;
   justify-content: center;
   line-height: 1.5;
   overflow: hidden;
   text-overflow: ellipsis;
   transition: all 0.14s ease-out;
   white-space: nowrap;
}

.button:hover {
   color: #181818;
   background-color: #86d398;
   box-shadow: 4px 4px 0 #000;
   transform: translate(-4px, -4px);
   transition: 0.6s;
}

.button:focus {
   outline-color: transparent;
   outline-style: solid;
   outline-offset: 1px;
   box-shadow: 4px 4px 0 black;
   transition: 0.7s;
}

.button:active {
   background-color: #fb772d;
}
